#search-main {
    background: url(images/img/back.svg);
    height: 290px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-position: center;
}

#search-txt h1 {
    padding: 12px 0px;
    font-size: 35px;
    font-weight: 350;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    margin-block-start: 0px;
    margin-block-end: 10px;
}

#search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inputfield {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* margin-top: 2px; */
    padding: 5px;
    border-radius: 15px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.183);
    width: 910px;
}

input[type="text"] {
    border: 5px;
    flex-grow: 1;
    height: 50px;
    background: transparent;
    font-size: 19px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    margin-left: 10px;
}

#inputfield button {
    padding: 0px 8px;
    background: transparent;
    outline: none;
    cursor: pointer;
    width: 35px;
    height: 52px;
    background-size: 34px 34px;
    background-position: 14px 14px;
}

#inputfield button img:hover {
    filter: brightness(0.7);
    cursor: pointer;
}

#clearbutton {
    border-left: 1px solid #e1e1e1;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
    height: 2px;
}

#inputTicker {
    border: 0;
    outline: none;
}

#inputTicker:hover {
    cursor: none;
}

#stockcontainer {
    background-color: #f8f9fa;
    align-items: center;
    height: 65px;
    margin-top: 20px;
    width: 70%;
    margin-left: 15%;
}

#stockcontainer span {
    display: inline-flex;
    width: fit-content;
    height: 65px;
    padding: 0px 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    font-size: 24px;
    font-weight: 300;
}

.isselected {
    background-color: #cccccc;
}

#stocktabs_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    width: 70%;
    margin-top: 45px;
    margin-left: 15%
}

#companyTab:hover,
#stockSummaryTab:hover,
#chartsTab:hover,
#latestNewsTab:hover {
    background-color: #dddddd;
    cursor: pointer;
}

#stocktabs_container table {
    display: flex;
}

#stocktabs_container table th,
td {
    border-bottom: 1px solid lightgrey;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 6px 10px
}

#stocktabs_container table tr:first-child th,
tr:first-child td {
    border-top: 1px solid lightgrey;
}

#stocktabs_container .companytabtable th {
    width: 380px;
}

#stocktabs_container .summarytabtable td {
    width: 280px;
}

#stocktabs_container #recommendation table td {
    text-align: center;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline-block;
    padding: 10px;
    border: none;
    align-items: center;
}

#stocktabs_container #headline {
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
}

#stocktabs_container #date {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 21px;
}

#stocktabs_container #post {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
}

#stocktabs_container #queryError {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #eae8eb;
    align-items: center;
    width: 930px;
    height: 70px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    margin-left: 120px;
    font-weight: normal;
    font-size: 25px;
}